body {
    background: url('../images/fence_fields_greens_agriculture_14582_2560x1600.jpg') no-repeat center center fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url('../images/fence_fields_greens_agriculture_14582_2560x1600.jpg');
    background-size: cover;
    margin: 0;
    overflow: auto;
    padding-top: 70px;
}

.appkeys {
    margin-top: 3%;
    width: 20%;
    margin-left: 2%;
}

.sensorDivCss {
    border: 1px solid black;
    display: none;
    margin-top: 20px;
    width: 19%;
    margin-left: 3%;
    padding: 0%;
}

.line-separator {
    margin-top: 2%;
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
    background: #717171;
    border-bottom: 1px solid #313030;

}

.sensors_dash {
    color: #5cb85c;
    text-decoration: none;
}

.back_dash {
    background: rgba(255, 255, 255, 0.7);
    margin-left: 25%;
    margin-top: 1%;
    margin-right: 1%;
}

.graphics {
    margin-bottom: 45px;
    height: 300px;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
}

#waspView > i {
    visibility: visible;
}

#sensorView > i {
    visibility: hidden;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

.centerthings {
    margin: 0 auto;
    height: 200px;
    width: 100%;
    position: absolute;
}

.appkeysboard {
    margin-bottom: 3%;
    width: 100%;
    height: 250px;
    background-color: rgba(209,208,208, 0.6);
}