<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<body>
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- LOGO SITE( AGRICULTURA PRECISAO) -->
            <a href="{% url 'appkeys' %}">
                <img id="1" src="{% static 'images/agricprec.png' %}"
                     style="width: 140px; margin-left: 2%; height: 50px">
            </a>
        </div>

        <!-- /.navbar-header -->
        <div>
            <ul id="dropMy" class="nav navbar-nav navbar-right" style="margin-right: 1%;">
                <li><a href="{% url 'realtime' %}" class="fa fa-line-chart"> Real-Time</a></li>
                <li><a href="{% url 'alert' %}" class="fa fa-warning"> Alertas</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fa fa-user"
                       data-toggle="dropdown"> {{ request.session.username }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="perfil" href="#" class="fa fa-user"> Perfil</a></li>
                        <li><a href="{% url 'logout' %}" class="fa fa-power-off"> LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</div>
</body>
<script src="{% static 'js/perfil.js' %}"></script>
</html>