<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina de testes</title>

    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSSTest -->
    <link href="{% static 'css/testeCss.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/knockout-3.4.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
        <!--first row-->
        <!--<div class="row">-->
            <!--column averege-->
            <!--<div class="col-md-6" id="columnChart" style="height: 250px; width: 40%;margin-left: 4%;"></div>-->
            <!--end column averege-->
            <!--Global status of Sensors-->
            <!--<div class="col-md-6" id="statusChart" style="height: 250px; width: 40%;margin-left: 4%;"></div>-->
            <!--end column averege-->
            <!--Temperature averege-->
            <!--<div class="col-md-6" id="chartTemperature"
                 style="height: 250px; width: 40%;margin-left: 4%; margin-top: 2%"></div>-->
            <!--end Temperature average-->
            <!--reads per month-->
            <!--<div class="col-md-6" id="chartReads"
                 style="height: 250px; width: 40%;margin-left: 4%; margin-top: 2%"></div>-->
            <!--end reads per month-->
        <!--</div>-->
</body>
</html>