<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina de testes</title>

    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'popup/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'popup/jquery.leanModal.min.js' %}"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/modal_style.css' %}"/>
</head>
<body>
<div class="container">
    <a id="modal_trigger" href="#modal" class="btn">Login</a>

    <div id="modal" class="popupContainer" style="display:none;">
        <header class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>

        <section class="popupBody">
            <!-- Username & Password Login form -->
            <div class="user_login">
                <form>
                    <label>Utilizador</label>
                    <input type="text"/>
                    <br/>

                    <label>Password</label>
                    <input type="password"/>
                    <br/>

                    <div class="checkbox">
                        <input id="remember" type="checkbox"/>
                        <label for="remember">Lembrar-me neste computador</label>
                    </div>

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn btn_red register_btn">
                            Registar</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_green">Login</a></div>
                    </div>
                </form>

                <a href="#" class="forgot_password">Esqueceu-se da password?</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                <form>

                    <label>Utilizador</label>
                    <input type="text"/>
                    <br/>

                    <label>Endereçço de Email</label>
                    <input type="email"/>
                    <br/>

                    <label>Nome Completo</label>
                    <input type="text"/>
                    <br/>

                    <label>Password</label>
                    <input type="password"/>
                    <br/>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn btn_back"><i
                                class="fa fa-angle-double-left"></i>
                            Voltar</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_red">Registar</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    $("#modal_trigger").leanModal({top: 200, overlay: 0.6, closeButton: ".modal_close"});

    $(function () {
        // Calling Login Form
        $("#modal_trigger").click(function () {
            $(".user_login").show();
            return false;
        });

        $(".register_btn").click(function () {
            $(".user_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });
        $(".btn_back").click(function () {
            $(".user_login").show();
            $(".user_register").hide();
            $(".header_title").text('Login');
            return false;
        });

    })
</script>
</body>
</html>